.relogioNumero {
    background-color: #5D677C;
    box-shadow: 2px 2px 4px #2B2B2B inset;
    height: 4.6rem;
    width: 3rem;
    padding: 8px 4px;
    border-radius: 10px;
  
    @media screen and (min-width:1280px) {
      height: 12.8rem;
      width: 9rem;
      text-align: center;
      margin: auto;
    }
  }
  
  .relogioDivisao {
    height: 2.2rem;
  
    @media screen and (min-width:1280px) {
      height: 12.6rem;
    }
  }